@import "../components/landing_page_header";
@import "../components/landing_page_sub_head_div";
@import "../components/landing_page_benefits";
@import "../components/landing_page_counter";
// body,
// html {
//     width: 100%;
// 	height: 100%;
// }

body, p {
	color: #626363;
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #181c3b;
	font: 600 2.5rem/3.25rem "Poppins", sans-serif;
}

h2 {
	color: #181c3b;
	font: 600 2rem/2.75rem "Poppins", sans-serif;
}

h3 {
	color: #181c3b;
	font: 600 1.75rem/2.375rem "Poppins", sans-serif;
}

h4 {
	color: #181c3b;
	font: 600 1.5rem/2.125rem "Poppins", sans-serif;
}

h5 {
	color: #181c3b;
	font: 600 1.25rem/1.75rem "Poppins", sans-serif;
}

h6 {
	color: #181c3b;
	font: 600 1rem/1.5rem "Poppins", sans-serif;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #707375;
	text-decoration: underline;
}

a:hover {
	color: #707375;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #80C5BD;
}

.bg-gray {
	background-color: #d4fcf8;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #80C5BD;
	border-radius: 32px;
	background-color: #80C5BD;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #80C5BD;
	background-color: transparent;
	color: #80C5BD;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #80C5BD;
	border-radius: 32px;
	background-color: #80C5BD;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 1px solid #80C5BD;
	background-color: transparent;
	color: #80C5BD;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #181c3b;
	border-radius: 32px;
	background-color: transparent;
	color: #181c3b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 1px solid #181c3b;
	background-color: #181c3b;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #181c3b;
	border-radius: 32px;
	background-color: transparent;
	color: #181c3b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 1px solid #181c3b;
	background-color: #181c3b;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #181c3b;
	border-radius: 32px;
	background-color: transparent;
	color: #181c3b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 1px solid #181c3b;
	background-color: #181c3b;
	color: #ffffff;
	text-decoration: none;
}

/*******************/
.cards-1 {
	position: relative;
	padding-top: 7.5rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 0.625rem;
}

.cards-1 .p-heading {
	margin-bottom: 3.5rem;
}

.cards-1 .card {
	display: block;
	max-width: 330px;
	margin-right: auto;
	margin-bottom: 6rem;
	margin-left: auto;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 14px rgba(42, 53, 79, 0.06);
}

.cards-1 .card .card-body {
	padding: 3rem 1.75rem 2.25rem 1.75rem;
}

.cards-1 .card .card-title {
	margin-bottom: 1rem;
	color: #80C5BD;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.875rem;
	text-align: center;
}

.cards-1 .card p {
	margin-bottom: 1.25rem;
	text-align: left;
}

.cards-1 .card .value {
	color: #181c3b;
	font-weight: 600;
	font-size: 5.5rem;
	line-height: 5.5rem;
	text-align: center;
}

.cards-1 .card .currency {
	margin-right: 0.25rem;
	color: #181c3b;
	font-size: 2rem;
	vertical-align: 80%;
}

.cards-1 .card .frequency {
	margin-bottom: 1.5rem;
	font-size: 0.875rem;
	text-align: center;
}

.cards-1 .card .list-unstyled {
	margin-bottom: 1.625rem;
	text-align: left;
}

.cards-1 .card .list-unstyled li {
	margin-bottom: 0.5rem;
}

.cards-1 .card .list-unstyled .fas {
	color: #80C5BD;
	font-size: 0.75rem;
	line-height: 1.625rem;
}

.cards-1 .card .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.cards-1 .card .button-wrapper {
	position: absolute;
	right: 0;
	bottom: -1.5rem;
	left: 0;
	text-align: center;
}

.cards-1 .card .btn-solid-reg:hover {
	background-color: #ffffff;
}

.cards-1 .decoration-bg {
	position: absolute;
	bottom: 0;
	height: 170px;
	width: 100%;
	background-color: #af2e2e;
}











	/* Header */
	.header {
		padding-top: 10rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 2rem;
	}
	/* end of header */


	/* Details 1 */
	.basic-4 .text-container {
		margin-bottom: 0;
	}
	/* end of details 1 */


	/* Details 1 Lightbox */
	.lightbox-basic {
		padding: 3rem 3rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
	}
	/* end of details 1 lightbox */


	/* Details 2 */
	.basic-5 .image-container {
		margin-bottom: 0;
	}
	/* end of details 2 */


	/* Testimonials */
	.slider .swiper-container {
		width: 92%;
	}

	.slider .swiper-button-prev {
		left: -16px;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider .swiper-button-next {
		right: -16px;
		width: 22px;
		background-size: 22px 34px;
	}
	/* end of testimonials */


	/* Services */
	.basic-6 .service-text {
		width: 46.375rem;
	}
	/* end of services */
