// Import page-specific CSS files here.
@import "home";
@import "../components/index";
.card{
  padding: 1.5em .5em .5em;
  border-radius: 1.3em;
  text-align: center;
  box-shadow: 0 1px 4px rgba(150, 150, 150, 0.2);
}
