
      <div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-8">
            <div class="text-container">
                <h1 class="h1-large">Hire the best <span id="span-header">Frontend, Backend, Fullstack</span> developers.</h1>
                <p class="p-large">Devify helps you find the perfect developer for your project.</p>
                <a class="btn-solid-lg page-scroll" href="/profiles">View All Developers</a>
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
        <%= image_tag 'heroimage.png', width: '280', height: '280' %>


</div>

<div class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container bg-gray">
                    <h4><i class="fas fa-user-tie"></i>For businesses seeking top candidates</h4>
                    <p>All our Devs are 100% Green Rake certified</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container bg-gray">
                    <h4><i class="fas fa-building"></i>For devs looking for the best projects</h4>
                    <p>We match you with the top software projects</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->

<!-- Services -->
<div class="basic-1" >
 <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <!-- Service 1 -->
              <div class="service-container" >
                  <div class="service-icon">
                      <!-- Add your service icon content here -->
                  </div>
                  <div class="service-text">
                      <h4><span class="fas fa-rocket"></span> Le Wagon Trained</h4>
                      <p>All of our developers have been trained within the Le Wagon Bootcamp over a period of two months.</p>
                  </div>
              </div>
              <!-- end of Service 1 -->
          </div>

          <div class="col-lg-6">
              <!-- Service 2 -->
              <div class="service-container">
                  <div class="service-icon">
                      <!-- Add your service icon content here -->
                  </div>
                  <div class="service-text">
                      <h4><span class="fas fa-users"></span> 100% Rake Guarantee</h4>
                      <p>Our developers are nearly 90% more likely to rake with "good style" than other programmers.</p>
                  </div>
              </div>
              <!-- end of Service 2 -->
          </div>

          <div class="col-lg-6">
              <!-- Service 3 -->
              <div class="service-container">
                  <div class="service-icon">
                      <!-- Add your service icon content here -->
                  </div>
                  <div class="service-text">
                      <h4><span class="fas fa-user-tie"></span> Comprehensively skilled</h4>
                      <p>Our developers have been extensively trained in Ruby on Rails, JavaScript, HTML, CSS, SQL.</p>
                  </div>
              </div>
              <!-- end of Service 3 -->
          </div>

          <div class="col-lg-6">
              <!-- Service 4 -->
              <div class="service-container">
                  <div class="service-icon">
                      <!-- Add your service icon content here -->
                  </div>
                  <div class="service-text">
                      <h4><span class="fas fa-people-carry"></span> Trained for Projects</h4>
                      <p>Our developers are more than happy to work with you to ensure you meet your deadlines.</p>
                  </div>
              </div>
              <!-- end of Service 4 -->
          </div>
      </div>
  </div>
</div>

    <!-- Statistics -->
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <i class="fas fa-users yellow"></i>
                            <div class="counter-value number-count" data-count="231">40</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-code turquoise"></i>
                            <div class="counter-value number-count" data-count="385">20</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-cog red"></i>
                            <div class="counter-value number-count" data-count="159">30</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-comments"></i>
                            <div class="counter-value number-count" data-count="127">3</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                        <div class="cell">
                            <i class="fas fa-rocket dark-blue"></i>
                            <div class="counter-value number-count" data-count="211">22</div>
                            <p class="counter-info">Orders Received</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->



    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
