html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px; /* Smaller height */
  padding: 0px 50px;
  color: #80C5BD;
  font-size: 12px; /* Smaller font size */
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  margin: 0 10px;
}
