// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card_product";
@import "pic_with_bio";
@import "footer";
@import "landing_page_header";


.btn.btn-primary:hover {
  background-color: #ffffff !important;
  border-radius: #80C5BD !important;
  color: #80C5BD;
  text-decoration: none;
}
