
.basic-6 {
	padding-top: 0.2rem;
	padding-bottom: 3rem;
}

.basic-6 .h2-heading {
	margin-bottom: 0.625rem;
	text-align: center;
}

.basic-6 .p-heading {
	margin-bottom: 3.875rem;
	text-align: center;
}

.basic-6 .service-container {
	margin-bottom: 3.5rem;
	padding: 2.875rem 5rem 1.75rem 4.5rem;
	border: 1px solid #80C5BD;
	border-radius: 40px;
	box-shadow: 0 0 14px rgba(42, 53, 79, 0.06);
}

.basic-6 .service-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 1.75rem;
	border-radius: 4px;
	background-color: #9380c5;
	text-align: center;
}

.basic-6 .service-icon .fas {
	color: #ffffff;
	font-size: 2rem;
	line-height: 4rem;
}


	/* end of services */
