.basic-1 {
	padding-top: 0.5rem;
	padding-bottom: 1.25rem;
}

.basic-1 .text-container {
	// margin-bottom: 3rem;
	padding: 2.25rem 1.5rem 1.375rem 1.5rem;
	border-radius: 20px;
  background-color: #eeeeee;
}

.basic-1 h4 i {
	margin-right: 0.875rem;
	color: #80C5BD;
}

.service-text {
  margin-bottom: 8.25rem;
}
