.basic-6 {
	padding-top: 0.90rem;
	padding-bottom: 1rem;
}

.basic-6 .h2-heading {
	margin-bottom: 0.625rem;
	text-align: center;
}

.basic-6 .p-heading {
	margin-bottom: .875rem;
	text-align: center;
}

.service-container {
	margin-bottom: 1.8rem;
	padding: 2.875rem 2rem 0.05rem 2.5rem;
	border-radius: 40px;
	box-shadow: 0 0 14px rgba(42, 53, 79, 0.06);
	background-color: #daedeb;
}

.basic-6 .service-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 0.75rem;
	border-radius: 4px;
	background-color: #80C5BD;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service-icon .fas {
	color: #80C5BD;
	font-size: 2rem;
}
